thead > tr > .buttons-col {
  border: none;
}

svg {
    pointer-events: none;
}

#currentDay {
    margin: 0;
}

.day-calendar {
  width: 100%;
  margin-bottom: 25px;
}

.scrollable {
  height: 65vh;
  overflow-y: auto;
}

.time-row > th {
  height: 65px;
}

.buttons-col {
  width: 10%;
}

.calendar-btns {
  display: flex;
  border-left: solid gray;
  padding: 0.5px 0 0.5px 0;
}

.save-btn,
.del-btn {
  border-radius: 0;
  z-index: 1;
}

.del-btn {
  border-radius: 0 5px 5px 0;
}

.time-col {
  width: 7%;
}

.time-passed > .event-text {
  background-color: lightgray;
  font-style: italic;
}

.time-current > .event-text {
  background-color: lightgreen;
}

.event-col {
  width: 83%;
}

.time-indicator > p {
  text-align: right;
  margin: auto 5px;
}

.event-textarea {
  border: 0;
  width: 100%;
  height: 60px;
  font-size: 14px;
  line-height: 1.5;
}

.event-textarea:focus {
    background-color: lightyellow;
}
